<div class="grid">
    <div class="col-12">
        <p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>
    </div>
    <div class="col-12">
        <p-table #tabla styleClass="p-datatable-striped p-datatable-gridlines" [value]="asistencias" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="{first} a {last} de {totalRecords}" [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['estudiante_documento', 'estudiante_nombres', 'estudiante_apellidos']">
            <ng-template pTemplate="header">
                <tr>
                    <th>Fecha</th>
                    <th>Estudiante</th>
                    <th>Asistencia</th>
                    <th>Justificación</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="flex">
                    <div class="flex">
                        <button pButton label="Exportar" class="p-button-outlined p-button-success p-button-sm mr-2" icon="pi pi-file-excel" (click)="excel()"></button>
                        <button pButton label="Limpiar" class="p-button-outlined p-button-sm mr-2" icon="pi pi-filter-slash" (click)="tabla.clear();buscar_tabla.value='';"></button>
                    </div>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input #buscar_tabla pInputText type="text" (input)="tabla.filterGlobal(buscar_tabla.value, 'contains')" placeholder="Buscar..." class="p-inputtext-sm"/>
                    </span>
                </div>
            </ng-template> 
            <ng-template pTemplate="body" let-element>
                <tr [pSelectableRow]="element">
                    <td>{{element.fecha}}</td>
                    <td>
                        <div class="flex align-items-center">
                            <p-avatar icon="pi pi-user" shape="circle" styleClass="mr-2"></p-avatar>
                            <div>
                                <p class="m-0 font-bold text-primary-color">{{element.estudiante_documento}}</p>
                                <p class="m-0">{{element.estudiante_nombres}} {{element.estudiante_apellidos}}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p-tag *ngIf="element.asistencia == 1" value="PRESENTE" severity="success" icon="pi pi-check"></p-tag>
                        <p-tag *ngIf="element.asistencia == 0" value="AUSENTE" severity="warn" icon="pi pi-times"></p-tag>
                    </td>
                    <td>
                        {{element.asistencia_justificacion}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
