<p-card header = "{{title}}" styleClass="shadow-4">
    <ng-template pTemplate = "header">
        <img alt = "Card" src = "assets/img/usercard.png" />
    </ng-template>
    <div class = "flex justify-content-end">
    <p-button  (click) = "changeRoute()" label = "{{button}}" icon = "{{icon}}" styleClass = "p-button-rounded p-button-sm"></p-button>
    </div>
</p-card>