<div class="container">
    <p-card styleClass="card" header="{{appName}}">
        <form class="grid" [formGroup]="form" (submit)="login()">
            <div class="col-12 lg:col-10 lg:col-offset-1">
                <input formControlName="email" type="text" pInputText placeholder="Email..." 
                class="p-inputtext-sm {{formValidator(form, 'email') ? 'ng-invalid ng-dirty':''}}"/>
            </div>
            <div class="col-12 lg:col-10 lg:col-offset-1">
                <input formControlName="pass" type="password" pInputText placeholder="Contraseña..." 
                class="p-inputtext-sm {{formValidator(form, 'pass') ? 'ng-invalid ng-dirty':''}}"/>
            </div>
            <div class="col-12 lg:col-10 lg:col-offset-1">
                <div class="flex justify-content-center">
                    <img #captcha alt="Captcha" class="captcha">
                </div>
            </div>
            <div class="col-12 md:col-6 md:col-offset-3">
                <input placeholder="Captcha..." formControlName="captcha" maxlength="6" type="text" class="inputfield w-full" pInputText
                class="p-inputtext-sm {{formValidator(form, 'captcha') ? 'ng-invalid ng-dirty':''}}"/>
            </div>
            <div class="col-12 lg:col-10 lg:col-offset-1">
                <button [disabled]="form.invalid || loading" [loading]="loading" type="submit" pButton pRipple label="Ingresar" class="w-full"></button>
            </div>
            <div class="col-12 lg:col-10 lg:col-offset-1">
                <div class="flex justify-content-center">
                    <p-button (onClick)="showRecuperarCuenta = true; setCaptcha2();" label="Olvidé mi contraseña" styleClass="p-button-link"></p-button>
                </div>
            </div>
        </form>
    </p-card>
</div>

<p-dialog [(visible)]="showRecuperarCuenta" styleClass="modal" [modal]="true">
    <ng-template pTemplate="header">
        Recuperar cuenta
    </ng-template>
    <form [formGroup]="formRC" class="grid" (submit)="recuperarCuenta()">
        <div class="col-12 lg:col-10 lg:col-offset-1 xl:col-8 xl:col-offset-2">
            <input formControlName="documento" type="number" pInputText placeholder="Nro. documento..." 
            class="p-inputtext-sm {{formValidator(form, 'documento') ? 'ng-invalid ng-dirty':''}}"/>
        </div>
        <div class="col-12 lg:col-10 lg:col-offset-1 xl:col-8 xl:col-offset-2">
            <input formControlName="email" type="text" pInputText placeholder="Email..." 
            class="p-inputtext-sm {{formValidator(form, 'email') ? 'ng-invalid ng-dirty':''}}"/>
        </div>
        <div class="col-12 lg:col-10 lg:col-offset-1 xl:col-8 xl:col-offset-2">
            <div class="flex justify-content-center">
                <img #captcha2 alt="Captcha" class="captcha">
            </div>
        </div>
        <div class="col-12 md:col-6 md:col-offset-3 xl:col-8 xl:col-offset-2">
            <input placeholder="Captcha..." formControlName="captcha" maxlength="6" type="text" class="inputfield w-full" pInputText
            class="p-inputtext-sm {{formValidator(form, 'captcha') ? 'ng-invalid ng-dirty':''}}"/>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button [disabled]="formRC.invalid || loadingRC" (click)="recuperarCuenta()" pButton pRipple type="button" icon="pi pi-check" label="Recuperar cuenta" class="p-button-text"></button>
        <button (click)="showRecuperarCuenta = false" pButton pRipple type="button" label="Cancelar" class="p-button-text p-button-secondary"></button>
    </ng-template>
</p-dialog>