<div class="grid">
    <div class="col-12">
        <p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>
    </div>
</div>
<form class="grid" [formGroup]="form" (submit)="guardarEstudiante()">
    <div class="col-12">
        <p-card>
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="documento" class="block">Nro. documento (<span>*</span>)</label>
                        <input readonly formControlName="documento" id="documento" type="number" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'documento') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'documento')">
                            <p class="error" *ngIf="fieldValidator(form, 'documento', 'required')">
                                Nro. documento requerido
                            </p>             
                            <p class="error" *ngIf="fieldValidator(form, 'documento', 'pattern')">
                                Nro. documento debe ser numérico
                            </p>             
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="nombres" class="block">Nombres (<span>*</span>)</label>
                        <input formControlName="nombres" id="nombres" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'nombres') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'nombres')">
                            <p class="error" *ngIf="fieldValidator(form, 'nombres', 'required')">
                                Nombre/s requerido/s
                            </p>             
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="apellidos" class="block">Apellidos (<span>*</span>)</label>
                        <input formControlName="apellidos" id="apellidos" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'apellidos') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'apellidos')">
                            <p class="error" *ngIf="fieldValidator(form, 'apellidos', 'required')">
                                Apellido/s requerido/s
                            </p>             
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="sexo" class="block">Sexo</label>
                        <p-dropdown placeholder="Seleccionar..." [style]="{ width : '100%' }" appendTo="body" 
                        [options]="listaSexo" formControlName="sexo" optionLabel="label" 
                        optionValue="value"></p-dropdown>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="fecha_nacimiento" class="block">Fec. Nacimiento</label>
                        <input formControlName="fecha_nacimiento" id="fecha_nacimiento" type="date" pInputText 
                        class="p-inputtext-sm"/>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="telefono" class="block">Teléfono</label>
                        <input formControlName="telefono" id="telefono" type="number" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'telefono') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'telefono')">            
                            <p class="error" *ngIf="fieldValidator(form, 'telefono', 'pattern')">
                                El nro. de teléfono debe empezar con 595 y tener una longitud de 12 caracteres
                            </p>             
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="email" class="block">Email</label>
                        <input formControlName="email" id="email" type="text" pInputText 
                        class="p-inputtext-sm {{formValidator(form, 'email') ? 'ng-invalid ng-dirty':''}}"/>
                        <div *ngIf="formValidator(form, 'email')">            
                            <p class="error" *ngIf="fieldValidator(form, 'email', 'pattern')">
                                Email inválido
                            </p>             
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="curso" class="block">Curso (<span>*</span>)</label>
                        <p-dropdown placeholder="Seleccionar..." [filter]="true" [filterBy]="'nombre'" [style]="{ width : '100%' }" appendTo="body" 
                        [options]="cursos" formControlName="curso_id" optionLabel="nombre" 
                        optionValue="id" [virtualScroll]="true" [virtualScrollItemSize]="20"></p-dropdown>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="responsable" class="block">Responsable (<span>*</span>)</label>
                        <p-dropdown placeholder="Seleccionar..." [filter]="true" [filterBy]="'nombres,apellidos,documento'" [showClear]="true" placeholder="Seleccionar..." [style]="{ width : '100%' }" appendTo="body" 
                        [options]="responsables" formControlName="responsable_id" optionLabel="nombre" 
                        optionValue="id" [virtualScroll]="true" [virtualScrollItemSize]="20"></p-dropdown>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="responsable" class="block">Ciudad</label>
                        <p-dropdown placeholder="Seleccionar..." [filter]="true" [filterBy]="'ciudad,departamento'" [showClear]="true" placeholder="Seleccionar..." [style]="{ width : '100%' }" appendTo="body" 
                        [options]="ciudades" formControlName="ciudad" optionLabel="label" 
                        optionValue="ciudad" [virtualScroll]="true" [virtualScrollItemSize]="20"></p-dropdown>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="barrio" class="block">Barrio</label>
                        <input formControlName="barrio" id="barrio" type="text" pInputText 
                        class="p-inputtext-sm"/>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="field">
                        <label for="direccion" class="block">Dirección</label>
                        <input formControlName="direccion" id="direccion" type="text" pInputText 
                        class="p-inputtext-sm"/>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="flex justify-content-end">
                    <button [disabled]="form.invalid" pButton pRipple type="submit" label="Guardar datos"></button>
                </div>
            </div>
        </p-card>
    </div>
</form>