<div class="grid">
    <div class="col-12">
        <p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <p-card>
            <div class="grid">
                <div class="col-12 md:col-6 xl:col-4">
                    <div class="grid">
                        <div class="col-12">
                            <div class="flex justify-content-between align-items-center">
                                <p class="section-title">Curso</p>
                                <button [style]="{visibility:'hidden'}" pButton pRipple type="button" label="Agregar" icon="pi pi-plus" routerLink="/admin/estudiantes/agregar"></button>
                            </div>
                            <p-divider></p-divider>
                        </div>
                        <div class="col-12">
                            <app-persona-card [icon]="'pi pi-th-large'" [title]="curso?.nombre" [description]="''"></app-persona-card>
                        </div>
                        <div class="col-12">
                            <div class="flex justify-content-between align-items-center">
                                <p class="section-title">Estudiantes ({{curso?.estudiantes.length}})</p>
                                <button pButton pRipple type="button" label="Agregar" icon="pi pi-plus" routerLink="/admin/estudiantes/agregar"></button>
                            </div>
                            <p-divider></p-divider>
                        </div>
                        <div class="col-12">
                            <app-persona-card *ngFor="let i of curso?.estudiantes" [icon]="'pi pi-user'" [title]="i.estudiante_documento" [description]="i.estudiante_nombres + ' ' + i.estudiante_apellidos"></app-persona-card>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 xl:col-8">
                    <div class="grid">
                        <div class="col-12">
                            <div class="flex justify-content-between align-items-center">
                                <p class="section-title">Materias</p>
                                <button (click)="elementAddShow = true" pButton pRipple type="button" label="Agregar" icon="pi pi-plus"></button>
                            </div>
                            <p-divider></p-divider>
                        </div>
                        <div class="col-12">
                            <p-table #tabla styleClass="p-datatable-striped p-datatable-gridlines" [value]="list" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                            currentPageReportTemplate="{first} a {last} de {totalRecords}" [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['materia_nombre', 'persona_nombres', 'persona_apellidos']">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Materia</th>
                                        <th>Profesor</th>
                                        <th>Última modificación</th>
                                        <th>Acciones</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="caption">
                                    <div class="flex">
                                        <div>
                                            <button pButton label="Limpiar" class="p-button-outlined p-button-sm mr-2" icon="pi pi-filter-slash" (click)="tabla.clear();buscar_tabla.value='';"></button>
                                        </div>
                                        <span class="p-input-icon-left ml-auto">
                                            <i class="pi pi-search"></i>
                                            <input #buscar_tabla pInputText type="text" (input)="tabla.filterGlobal(buscar_tabla.value, 'contains')" placeholder="Buscar..." class="p-inputtext-sm"/>
                                        </span>
                                    </div>
                                </ng-template> 
                                <ng-template pTemplate="body" let-element>
                                    <tr>
                                        <td>{{element.materia_nombre}}</td>
                                        <td>{{element.persona_nombres}} {{element.persona_apellidos}}</td>
                                        <td>{{element.fecha_actualizacion | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                        <td>
                                            <button pTooltip="Eliminar" (click)="confirm($event, element)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>

<p-dialog [(visible)]="elementAddShow" styleClass="modal" [modal]="true">
    <ng-template pTemplate="header">
        Agregar
    </ng-template>
    <form [formGroup]="formAdd" class="grid" (submit)="add()">
        <div class="col-12 sm:col-10 sm:col-offset-1">
            <div class="field">
                <label for="curso" class="block">Materia (<span>*</span>)</label>
                <p-dropdown placeholder="Seleccionar..." [filter]="true" [filterBy]="'nombre'" [style]="{ width : '100%' }" appendTo="body" 
                [options]="materias" formControlName="materia_id" optionLabel="nombre" 
                optionValue="id" [virtualScroll]="true" [virtualScrollItemSize]="20"></p-dropdown>
            </div>
        </div>
        <div class="col-12 sm:col-10 sm:col-offset-1">
            <div class="field">
                <label for="curso" class="block">Profesor (<span>*</span>)</label>
                <p-dropdown placeholder="Seleccionar..." [filter]="true" [filterBy]="'nombre'" [style]="{ width : '100%' }" appendTo="body" 
                [options]="profesores" formControlName="persona_id" optionLabel="nombre" 
                optionValue="id" [virtualScroll]="true" [virtualScrollItemSize]="20"></p-dropdown>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button [disabled]="formAdd.invalid" (click)="add()" pButton pRipple type="button" icon="pi pi-check" label="Guardar" class="p-button-text"></button>
    </ng-template>
</p-dialog>