.item {
    align-items: center;
    border: 3px solid var(--surface-ground);
    border-radius: 0.5rem;
    display: flex;
    margin-bottom: 0.5rem;
    padding: 1rem;

    p {
        margin: 0 0 0 1rem;
    }
}