<div class="grid">
  <div class="col-12">
    <p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>
  </div>
  <div class="col-12 sm:col-6 lg:col-4 xl:col-3" *ngFor="let materia of materias">
      <app-card-home [title]="materia.nombre"  [button]="'Tomar asistencia'"  [icon]="'pi pi-check-circle'" [route]="['asistencias',curso.id,'asistencia',materia.id]" class = "custom card"></app-card-home>
  </div>

</div>