<div class="grid">
    <div class="col-12">
        <p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>
    </div>
    <div class="col-12">
        <p-button routerLink="/asistencias/{{curso?.id}}/asistencia/{{materia?.id}}/historial" label="Historial" icon="pi pi-history" styleClass="p-button-rounded p-button-sm p-button-secondary"></p-button>
    </div>
    <div class="col-12">
      <p><b class="text-primary-color">Fecha</b> {{fechaActual}}</p>
      <p><b class="text-primary-color">Profesor</b> {{profesor?.nombres}} {{profesor?.apellidos}}</p>
    </div>
    <div class="col-12 lg:col-6">
        <p><b class="text-primary-color">Seleccione los estudiantes presentes</b></p>
        <p-table #tabla styleClass="p-datatable-striped p-datatable-gridlines" [value]="estudiantes" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="{first} a {last} de {totalRecords}" [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['documentos', 'nombres', 'apellidos']"
        selectionMode="multiple" [(selection)]="estudiantesPresentes" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="flex">
                    <div>
                        <button pButton label="Limpiar" class="p-button-outlined p-button-sm mr-2" icon="pi pi-filter-slash" (click)="tabla.clear();buscar_tabla.value='';"></button>
                    </div>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input #buscar_tabla pInputText type="text" (input)="tabla.filterGlobal(buscar_tabla.value, 'contains')" placeholder="Buscar..." class="p-inputtext-sm"/>
                    </span>
                </div>
            </ng-template> 
            <ng-template pTemplate="body" let-element>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="element"></p-tableCheckbox>
                    </td>
                    <td>{{element.documento}}</td>
                    <td>{{element.nombres}}</td>
                    <td>{{element.apellidos}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="col-12 lg:col-6">
      <p><b class="text-primary-color">Notas de asistencia</b></p>
      <textarea [autoResize]="false" placeholder="Escriba cualquier información adicional al registro de asistencia..." [style]="{ width: '100%', resize: 'vertical' }" pInputTextarea [(ngModel)]="nota"></textarea>
    </div>
    <div class="col-12">
      <div class="flex justify-content-end mt-2">
        <p-button (onClick)="showConfirmarAsistencia = true" label="Confirmar asistencia ({{estudiantesPresentes.length}})" icon="pi pi-check" styleClass = "p-button-rounded p-button-sm"></p-button>
      </div>
    </div>
</div>

<p-dialog [(visible)]="showConfirmarAsistencia" styleClass="modal" [modal]="true">
  <ng-template pTemplate="header">
      {{env.appName}}
  </ng-template>
  <p>
      ¿Deseas confirmar las asistencias?<br><b class="text-primary-color">{{estudiantesPresentes.length}}</b> estudiante(s) seleccionado(s)<br><br> <b>Los estudiantes no seleccionados serán registrados como ausentes</b>
  </p>             
  <ng-template pTemplate="footer">
      <button (click)="confirmar()" pButton pRipple type="button" icon="pi pi-check" label="Confirmar"></button>
      <button (click)="showConfirmarAsistencia = false" pButton pRipple type="button" icon="pi pi-times" label="Cancelar" class="p-button-secondary"></button>
  </ng-template>
</p-dialog>