<div class="grid">
    <div class="col-12">
        <p class="saludo">¡Hola, <span class="nombre">{{currentUser?.nombres}}</span>!</p>
        <p-divider></p-divider>
    </div>
    <ng-container *ngIf="currentUser.rol == 'PROFESOR'">
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3" *ngFor="let curso of cursos">
            <app-card-home [title]="curso.nombre"  [button]="'Ver materias'"  [icon]="'pi pi-check-circle'" [route]="['asistencias',curso.id]" class = "custom card"></app-card-home>
        </div>
    </ng-container>
    <ng-container *ngIf="currentUser.rol == 'RESPONSABLE'">
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3" *ngFor="let estudiante of estudiantes">
            <app-card-home [title]="estudiante.estudiante_nombres + ' ' + estudiante.estudiante_apellidos"  [button]="'Ver asistencias'"  [icon]="'pi pi-check-circle'" [route]="['asistencias/estudiante',estudiante.id]" class = "custom card"></app-card-home>
        </div>
    </ng-container>
</div>