<nav class="nav shadow-3">
    <div class="left">
        <p-button (click)="showSidebar = true" icon="pi pi-bars" styleClass="p-button-rounded p-button-text"></p-button>
        <p>{{env.appName}} {{env.appVersion}}</p>
    </div>
    <div class="right">
        <div class="flex align-items-center">
            <i class="pi pi-user mr-2"></i>
            <p>{{currentUser?.documento}}</p>
        </div>
        <div class="mx-2">
            <button (click)="showCerrarSesion = true" pButton pRipple type="button" icon="pi pi-sign-out" class="p-button-rounded p-button-text"
            pTooltip="Cerrar sesión"></button>
        </div>
    </div>
</nav>

<p-sidebar [(visible)]="showSidebar" [modal]="true" [dismissible]="true" styleClass="sidebar">
    <h3 class="mt-0 title">Menú</h3>
    <p-panelMenu [model]="sidebarItems"></p-panelMenu>
</p-sidebar>

<p-dialog [(visible)]="showCerrarSesion" styleClass="modal" [modal]="true">
    <ng-template pTemplate="header">
        {{env.appName}}
    </ng-template>
    <p>
        ¿Deseas cerrar tu sesión?
    </p>             
    <ng-template pTemplate="footer">
        <button (click)="logout()" pButton pRipple type="button" icon="pi pi-check" label="Confirmar"></button>
        <button (click)="showCerrarSesion = false" pButton pRipple type="button" icon="pi pi-times" label="Cancelar" class="p-button-secondary"></button>
    </ng-template>
</p-dialog>