<div class="grid">
    <div class="col-12">
        <p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>
    </div>
    <div class="col-12">
        <button [routerLink]="['/admin/responsables/agregar']" pButton pRipple type="button" label="Agregar" icon="pi pi-plus"></button>
    </div>
    <div class="col-12">
        <p-table #tabla styleClass="p-datatable-striped p-datatable-gridlines" [value]="list" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="{first} a {last} de {totalRecords}" [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['estudiante_documento', 'estudiante_nombres', 'estudiante_apellidos', 'curso_nombre']">
            <ng-template pTemplate="header">
                <tr>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Última modificación</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="flex">
                    <div>
                        <button pButton label="Limpiar" class="p-button-outlined p-button-sm mr-2" icon="pi pi-filter-slash" (click)="tabla.clear();buscar_tabla.value='';"></button>
                    </div>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input #buscar_tabla pInputText type="text" (input)="tabla.filterGlobal(buscar_tabla.value, 'contains')" placeholder="Buscar..." class="p-inputtext-sm"/>
                    </span>
                </div>
            </ng-template> 
            <ng-template pTemplate="body" let-element>
                <tr>
                    <td>{{element.documento}}</td>
                    <td>{{element.nombres}}</td>
                    <td>{{element.apellidos}}</td>
                    <td>{{element.email}}</td>
                    <td>{{element.telefono}}</td>
                    <td>{{element.fecha_actualizacion | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>
                        <button pTooltip="Editar" [routerLink]="['/admin/responsables/editar', element.id]" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-text mr-2"></button>
                        <button pTooltip="Eliminar" (click)="confirm($event, element)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text mr-2"></button>
                        <button pTooltip="Estudiantes a cargo" (click)="getEstudiantesACargo(element.id)" pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-help p-button-text"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="verEstudiantes" styleClass="modal" [modal]="true">
    <ng-template pTemplate="header">
        Estudiantes a cargo
    </ng-template>
        <ng-container *ngIf="listEstudiantes.length > 0; else sinEstudiantes;">
            <app-persona-card *ngFor="let i of listEstudiantes" [icon]="'pi pi-user'" [title]="i.estudiante_documento" [description]="i.estudiante_nombres + ' ' + i.estudiante_apellidos"></app-persona-card>
        </ng-container>
        <ng-template #sinEstudiantes>
            <app-empty-card [icon]="'pi pi-exclamation-triangle'" [description]="'Sin estudiantes'"></app-empty-card>
        </ng-template>
    <ng-template pTemplate="footer">
        <button (click)="verEstudiantes = false" pButton pRipple type="button" label="Cerrar" class="p-button-text"></button>
    </ng-template>
</p-dialog>